# Byte-compiled / optimized / DLL files
__pycache__/
*.py[codz]
*$py.class
*.pyc

# Distribution / packaging
.Python
build/
dist/
downloads/
lib/
lib64/

# PyBuilder
.pybuilder/
target/

# Jupyter Notebook
.ipynb_checkpoints

# PEP 582; used by e.g. github.com/David-OConnor/pyflow and github.com/pdm-project/pdm
__pypackages__/

# Environments
.env
.envrc
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Streamlit
.streamlit/secrets.toml

# extra data files
data/raw/*
data/processed/*
!data/raw/.gitkeep
!data/processed/.gitkeep
models/*
!models/.gitkeep
vector_db/*
!vector_db/.gitkeep
evaluation/*.json
evaluation/figures/*.png
